*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

body > * {
  flex-shrink: 0;
}

header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border: 0 solid transparent;
  border-left-width: env(safe-area-inset-left);
  border-right-width: env(safe-area-inset-right);
}

header > img {
  margin: 4px;
  height: 24px;
}

@media (display-mode: window-controls-overlay) {
  header {
    min-height: env(titlebar-area-height);
    background: #445985;
    border-left-width: env(titlebar-area-x);
    border-top-width: env(titlebar-area-y);
    -webkit-app-region: drag;
  }

  header button {
    -webkit-app-region: no-drag;
  }
}

input[type="file"] {
  display: none;
}

main {
  position: relative;
  flex-grow: 1;
  display: flex;
}

nbt-tree {
  padding: 8px 12px;
  position: absolute;
  inset: 0;
  height: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  font-size: 13px;
  font-family: ui-monospace, "Noto Sans Mono", "Cousine", monospace;
  line-height: 1.4;
  caret-color: currentColor;
  border: 0 solid transparent;
  border-left-width: env(safe-area-inset-left);
  border-right-width: env(safe-area-inset-right);
  border-bottom-width: env(safe-area-inset-bottom);
  border-radius: 0;
  overflow: auto;
}

nbt-tree[disabled] {
  opacity: unset;
}

nbt-branch {
  display: flex;
  /* outline: 2px solid lime; */
}

nbt-branch nbt-branch {
  margin-left: 12px;
}

nbt-branch > label {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

nbt-branch > details > summary::before, nbt-branch > label::before {
  content: "";
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-image: url("./nbt.png");
  background-repeat: no-repeat;
  background-size: 64px auto;
  image-rendering: pixelated;
}

details {
  width: 100%;
}

summary {
  padding-left: 4px;
  min-height: 1.85em;
  /* background: orange; */
  cursor: pointer;
}

nbt-branch > details > summary::before {
  margin: 0 0.5em;
  display: inline-block;
  vertical-align: middle;
}

nbt-branch[data-type="1"] > details > summary::before, nbt-branch[data-type="1"] > label::before {
  background-position: 0 0;
}

nbt-branch[data-type="2"] > details > summary::before, nbt-branch[data-type="2"] > label::before {
  background-position: -16px -16px;
}

nbt-branch[data-type="3"] > details > summary::before, nbt-branch[data-type="3"] > label::before {
  background-position: -48px 0;
}

nbt-branch[data-type="4"] > details > summary::before, nbt-branch[data-type="4"] > label::before {
  background-position: 0 -16px;
}

nbt-branch[data-type="5"] > details > summary::before, nbt-branch[data-type="5"] > label::before {
  background-position: -32px 0;
}

nbt-branch[data-type="6"] > details > summary::before, nbt-branch[data-type="6"] > label::before {
  background-position: -16px 0;
}

nbt-branch[data-type="7"] > details > summary::before, nbt-branch[data-type="7"] > label::before {
  background-position: 0 -32px;
}

nbt-branch[data-type="8"] > details > summary::before, nbt-branch[data-type="8"] > label::before {
  background-position: -32px -16px;
}

nbt-branch[data-type="9"] > details > summary::before, nbt-branch[data-type="9"] > label::before {
  background-position: -32px -32px;
}

nbt-branch[data-type="10"] > details > summary::before, nbt-branch[data-type="10"] > label::before {
  background-position: -48px -16px;
}

nbt-branch[data-type="11"] > details > summary::before, nbt-branch[data-type="11"] > label::before {
  background-position: -16px -32px;
}

nbt-branch[data-type="12"] > details > summary::before, nbt-branch[data-type="12"] > label::before {
  background-position: 0 -48px;
}

nbt-tree input {
  font: inherit;
}

::placeholder {
  color: inherit;
  opacity: 0.55;
  white-space: pre-wrap;
}

[disabled]::placeholder {
  opacity: 0.5;
}

dialog {
  -webkit-user-select: none;
  user-select: none;
}

dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}

fieldset > div + div {
  margin-top: 0.25em;
}